<div>
    <table class="table">
        <tbody>
            <tr *ngFor="let product of products">
                <td>
                    <a [routerLink]="['/product',product.id]"> {{product.id}}</a>
                </td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td><button class="btn btn-primary" (click)="editProduct(product)">Edit</button></td>
                <td><button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button></td>

            </tr>
        </tbody>
    </table>
</div>