<div class="container">
  <h1>Pipes-Demo</h1>
  <hr />

  <h2>Dates</h2>
  <hr />
  <h3> Default Date: {{doj}}</h3>
  <h3>Short Time: {{doj | date:'shortTime'}}</h3>
  <h3>Full Date: {{doj | date:'fullDate' }}</h3>
  <h3>Short Date: {{doj | date:'shortDate'}}</h3>
  <h3>Custom Format 1: {{doj | date:'dd-MM-yy'}}</h3>
  <h3>Custom Format 2: {{doj | date:'dd/MM/yy'}}</h3>
  <h3>Custom Format 3: {{doj | date:'dd-MMM-yy'}}</h3>
  <h3>Custom Format 4: {{doj | date:'dd-MMMM-yy'}}</h3>
  <h3>Custom Format 5: {{doj | date:'dd-MMM-yyyy'}}</h3>
  <h3>Custom Format 6: {{doj | date:'MMM-dd-yyyy'}}</h3>
  <h3>Custom Format 7: {{doj | date:'yyyy-MM-dd'}}</h3>


  <h2>JSON pipe</h2>
  <hr />

  <h3>EMP Deafult: {{emp}}</h3>
  <h3>EMP JSON: {{emp | json}}</h3>

  <h2>Decimal</h2>
  <hr />

  <h3>Decimal Defaultt: {{3.14169265}}</h3>
  <h3>Decimal Format1: {{3.14659265 | number:'0.1-2'}}</h3>

  <h2>Upper case and lower case</h2>
  <hr />

  <h3>Normal case: {{'Praveen'}}</h3>
  <h3>Lower case: {{'Praveen' | lowercase}}</h3>
  <h3>Upper case: {{'Praveen' | uppercase}}</h3>

  <h2>Slice</h2>
  <hr />

  <h3>Default Numbers: {{[1,2,3,4,5,6]}}</h3>
  <h3>Slice of 1:3: {{ [1,2,3,4,5,6] | slice:1:3}}</h3>


  















</div>