<div>
    <div class="card">
        <div class="card-header">Product Form</div>
        <div class="card-body text-center">
            <h2>Product Form</h2>
            <h2>Product Form</h2>

            <h2>Product Form</h2>

            <h2>Product Form</h2>

            <h2>Product Form</h2>

            <h2>Product Form</h2>

            <h2>Product Form</h2>
            <h2>Product Form</h2>

            <h2>Product Form</h2>

            <h2>Product Form</h2>

            <h2>Product Form</h2>

            <h2>Product Form</h2>

            <h2>Product Form</h2>
            <h2>Product Form</h2>
            <h2>Product Form</h2>


        </div>

    </div>