<div class="container">
  <div class="alert alert-info text-center">
    <h1>Welcome To My APP</h1>
  </div>
  <hr />


  <p>Praveen</p>



  <p>Praveen</p>


  <div>
    <img src="assets/images/tj1.png" class="border rounded" height="300" width="250" />
  </div>

  <hr />





  <h2>User name: {{user}} </h2>
  <h2>Product: {{product}} </h2>
  <h2>Product: {{getProduct()}} </h2>
  <h2>Product: {{product | json}}</h2>
  <hr />
  <h2>User: {{getUser()}}</h2>
  <h2>Sum: {{getSum()}}</h2>
  <h2>Sum: {{getSum()}}</h2>

  <hr />

  <h2>Names: {{names}}</h2>





</div>